<div class="cart-count-bubble" id="cart-icon-bubble">
  {%- if cart.item_count < 100 -%}
    <span aria-hidden="true"> Cart ({{ cart.item_count }})</span>
  {%- else -%}
    <span aria-hidden="true"> Cart (0)</span>
  {%- endif -%}
</div>
